---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";
let allProjects = await Astro.glob("../pages/projects/*.md");

allProjects = allProjects.sort((a, b) => {
    const a_pub: string = a.frontmatter.pubDate;
    const a_pub_num: number = parseInt(
        a_pub.substring(0, 11).replaceAll("-", ""),
    );
    const b_pub: string = b.frontmatter.pubDate;
    const b_pub_num: number = parseInt(
        b_pub.substring(0, 11).replaceAll("-", ""),
    );
    return b_pub_num - a_pub_num;
});
---

<Layout title="Projects">
    <main>
        <Header />

        <pre
            id="tiresult"
            style="background-color: #ffffff00; color: #a88585; padding: 4px 5px; --fs: 11px;">                                                                                                    
                                                                                                                               
                                                                                                                               
                                                                                        .......                                
                                                      .:^^~~~~^^:.                  .:^~!!!!!!!~^:.                            
                                                    :~!777777777!!^...:^^~~~~~~^^:.^!77!!!!!!!!!7!!^.                          
                                                  .~!7!!!!!!!!!!!!7!!!777777!7777!!7!!!!!!!!!!!!!!!7!.                         
                                                 :!7!!!!77?777!!!!!!!!!!!!!!!!!!!!!!!!!!!!7???77!!!!7!.                        
                                                 ~7!!!!7?????7!!!!!!!!!!!!!!!!!!!!!!!!!!!!7?????7!!!!7^                        
                                                .!!!!!!????7!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!7????7!!!!7~                        
                                                .!!!!!!7??7!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!7??!!!!!7:                        
                                                 :!!!!!!7!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!7!!!!!7~                         
                                                  :!7!!!!!!!!!!!!!!!!777!!!!!!!!!!77!!!!!!!!!!!!!77!^                          
                                                   .^!!!!!!!!!!!!!!!7JJ7!!!!!!!!!7JJ?!!!!!!!!!!!!~:.                           
                                                      .~7!!!!!!!!!!!!77!!!!??7!!!!777!!!!!!!!!!7~                              
                                                       :!!!!!!!!!!!!!!!!!7!7J7!7!!!!!!!!!!!!!!!!!                              
                                                        ~7!!!!!!!!!!!!!!7777?777!!!!!!!!!!!!!!!7~                              
                                                        .~!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!:                              
                                                        :^!!!!!!!!!!!!!~~~~~~~~~~~~!!!!!!!!!!!!!~:.                            
                                                      :!7!!!!!!!!!!777!~~~~~~~~~~~~!77!!!!!!!!!!77!:                           
                                                     :!7!!!!!!!!!!!!777!~~~~~~~~~~!?7!!!!!!!!!!!!!!!.                          
                                                     ^7!!!!!!!!!!!!!!!7?~^~~~~~~~~7?!!!!!!!!!!!!!!!7:                          
                                                     :!!!!!!!!!!!!!!!7??!~~~~~~~!!7?77!!!!!!!!!!!!7!.                          
                                                    :~!!!!!!!!!!!!!7777!!!!!~!!!!!!!777!!!!!!!!!!!~.                           
                                                   ^!7!!!!!!!777777!!!!!!!!!!!!!!!!!!!!777777!!!!!~:.                          
                                                  ~7!!!!!!!!!!!!77777!!!!!!!!!!!!!!!!777777!!!!!!!!7!:                         
                                                 :7!!!!!!!7777!!!!!7?7!!!!!!!!!!!!!7777!!!!!7777!!!!7!:                        
                                                 ~7!!!!!!7????7!!!!!!77!!!!!!!!!!!!?7!!!!!!7????7!!!!!!.                       
                                                 ~7!!!!!7??????7!!!!!7?7!!!!!!!!!!7?7!!!!!7??????7!!!!7^                       
                                                 :7!!!!!!??????7!!!!!7?7!!!!!!!!!!7?7!!!!!7??????!!!!!7^                       
                                                  ~7!!!!!7?????7!!!!!77!!!!!!!!!!!!77!!!!!7?????7!!!!!!:                       
                                                  .~!7!!!!7777!!!!!!!!!!77!!!!!!777!!!!!!!!!7777!!!!!!^                        
                                                    :~!7!!!!!!!!!!!!!77!~~!!!!!~~^^!77!!!!!!!!!!!!77!:                         
                                                      :^~!!77!!77!!!!~:.            :~!!77!!!7!!!!~:.                          
                                                         .:^^~~~~^::.                 .:^^~~~~~^:.                             
</pre>

        <Footer />
    </main>
</Layout>

<style>
    .instructions {
        padding: 0rem 1.5rem;
        border-radius: 8px;
    }

    .link-card-grid {
        min-height: 731.16px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 2rem;
        padding: 0;
    }

    pre {
        font-size: 9px;
        overflow: hidden;
    }
    @media (max-width: 750px) {
        pre {
            font-size: 7px;
        }
    }
    @media (max-width: 500px) {
        pre {
            font-size: 4px;
        }
    }
    @media (max-width: 330px) {
        pre {
            font-size: 3px;
        }
    }
    @media (max-width: 250px) {
        pre {
            font-size: 2px;
        }
    }
</style>
