---
import Layout from '../layouts/Layout.astro';
const allProjects = await Astro.glob('../pages/projects/*.md');
---

<Layout title="Projects.">
	<main>
		<p>This is where I will project about my journey learning Astro.</p>
		<ul>
			{allProjects.map((project) => <li><a href={project.url}>{project.frontmatter.title}</a></li>)}
		</ul>
		  </main>
</Layout>

<style>
</style>
