.island {
    margin: 0 0 5rem 0;
}

.arbitrage-table {
    margin: 0 auto;
    height: 300px;
    max-width: 100%;
    width: fit-content;
    overflow-x: auto;
    overflow-y: scroll;
    background-color: rgba(38, 45, 94, 0.588);
}

@media (max-width: 500px) {
    .arbitrage-table {
        max-width: none;
        width: 100%;
        
    }
    


}

.output {
    background-color: #22242b;

    padding: 1rem 0rem 2rem 1rem;


}

.output h6 {
    margin: 0;
    font-weight: normal;
}

.output h3 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-top: .5rem;
}

.button {
    margin: 0 0 2rem .5rem;
    padding: 1rem 2rem;
    color: rgb(243, 243, 243);
    font-weight: bold;
    background-color: #434343;
    background-image: none;
    background-size: 400%;
    border-radius: 7px;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    border: none;
    transition: color 300ms;
    cursor: pointer;
}
.button:hover {
    background-color: #323232;
}

td {
    padding: 0 15px;
}

hr {
    width: 70%;
    border-color: black;
}

caption {
    font-weight: bold;
    padding: .5rem;
    background-color: rgba(0, 0, 0, 0.761);
    color: rgb(243, 243, 243);
}

h4 {
    margin: .2rem;
}

table,
th,
td {
    border: 1px solid black;
}