---

---

<span class="social-grid">
    <a
        class="social"
        href="mailto:alexwrstone@gmail.com?subject=Super Cool New Buddy from Your Website&body=Yo Alex, wanted to reach out. XOXO"
        target="_blank"
    >
        <img
            class="social-img"
            src="/socials/gmail.png"
            alt="gmail icon"
            decoding="async"
            loading="eager"
            width="24"
            height="18"
        />AlexWRStone
    </a>
    <span class="social">
        <img
            class="social-img"
            src="/socials/discord.png"
            alt="gmail icon"
            decoding="async"
            loading="eager"
            width="24"
            height="24"
        />Derzan
    </span>
    <span class="social">
        <img
            class="social-img"
            src="/socials/telegram.png"
            alt="gmail icon"
            decoding="async"
            loading="eager"
            width="24"
            height="24"
        />Derzanski
    </span>
</span>
<style>
    .social-grid {
        border: 1px solid rgba(11, 11, 11, 0.347);
        border-radius: 10px;
        background-color: rgba(41, 41, 41, 0.065);
        padding: 1rem 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12ch, 1fr));
        gap: 2rem;
    }
    .social {
        color: rgb(232, 230, 227);
        text-decoration: none;
        background-color: rgb(28, 30, 36);
        border-radius: 20px;

        padding: 0 1rem;
        width: fit-content;
        display: flex;
        align-items: center;
    }
    .social-img {
        width: 24px;
        margin: 0 0.3rem 0 0.1rem;
    }
</style>
